{% extends 'base.html' %}
{% load static %}

{% block title %}Upload Screenshots - GT7 Tuning{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-12">
        <div class="card bg-dark border-secondary">
            <div class="card-header">
                <h3 class="mb-0">Upload GT7 Screenshots</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <p><strong>Tip:</strong> Upload screenshots from GT7 to automatically extract setup information. The app can process:</p>
                    <ul>
                        <li>Suspension setup screenshots (vehicle weight, weight distribution, stability values)</li>
                        <li>Power curve screenshots (power, torque, RPM values)</li>
                        <li>Transmission setup screenshots (gear ratios, final drive)</li>
                    </ul>
                </div>
                
                <form method="post" enctype="multipart/form-data" id="screenshotForm">
                    {% csrf_token %}
                    
                    <div class="mb-4">
                        <label for="vehicle" class="form-label">Select Vehicle</label>
                        <select name="vehicle" id="vehicle" class="form-select" required>
                            <option value="">-- Select Vehicle --</option>
                            {% for vehicle in vehicles %}
                                <option value="{{ vehicle.id }}">{{ vehicle.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="form-text text-light">Select the vehicle you want to tune.</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card bg-dark h-100 border-primary mb-3">
                                <div class="card-header">Suspension Screenshot</div>
                                <div class="card-body">
                                    <div class="screenshot-upload-area" id="suspensionDropArea">
                                        <div class="upload-icon">
                                            <img src="{% static 'images/suspension_icon.jpg' %}" alt="Suspension" width="64">
                                        </div>
                                        <p>Drag & drop suspension screenshot or click to upload</p>
                                        <input type="file" name="suspension_screenshot" id="suspensionScreenshot" accept="image/*" class="file-input">
                                    </div>
                                    <div id="suspensionPreview" class="mt-3 d-none">
                                        <img src="" alt="Preview" class="img-fluid mb-2">
                                        <button type="button" class="btn btn-sm btn-outline-danger remove-preview">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="card bg-dark h-100 border-warning mb-3">
                                <div class="card-header">Power Curve Screenshot</div>
                                <div class="card-body">
                                    <div class="screenshot-upload-area" id="powerDropArea">
                                        <div class="upload-icon">
                                            <i class="bi bi-graph-up-arrow" style="font-size: 3rem;"></i>
                                        </div>
                                        <div class="upload-icon">
                                            <img src="{% static 'images/power_icon.jpg' %}" alt="Power" width="64">
                                        </div>
                                        <p>Drag & drop power curve screenshot or click to upload</p>
                                        <input type="file" name="power_screenshot" id="powerScreenshot" accept="image/*" class="file-input">
                                    </div>
                                    <div id="powerPreview" class="mt-3 d-none">
                                        <img src="" alt="Preview" class="img-fluid mb-2">
                                        <button type="button" class="btn btn-sm btn-outline-danger remove-preview">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="card bg-dark h-100 border-info mb-3">
                                <div class="card-header">Transmission Screenshot</div>
                                <div class="card-body">
                                    <div class="screenshot-upload-area" id="transmissionDropArea">
                                        <div class="upload-icon">
                                            <img src="{% static 'images/transmission_icon.jpg' %}" alt="Transmission" width="64">
                                        </div>
                                        <p>Drag & drop transmission screenshot or click to upload</p>
                                        <input type="file" name="transmission_screenshot" id="transmissionScreenshot" accept="image/*" class="file-input">
                                    </div>
                                    <div id="transmissionPreview" class="mt-3 d-none">
                                        <img src="" alt="Preview" class="img-fluid mb-2">
                                        <button type="button" class="btn btn-sm btn-outline-danger remove-preview">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-primary btn-lg" id="processBtn">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="processSpinner"></span>
                            Process Screenshots
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12">
        <div class="card bg-dark border-secondary">
            <div class="card-header">
                <h4 class="mb-0">How to Take Screenshots in GT7</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-dark mb-3">
                            <div class="card-header">Suspension Setup</div>
                            <div class="card-body">
                                <ol>
                                    <li>Go to Garage > Car Settings</li>
                                    <li>Take a screenshot of the settings without moving the screen</li>
                                    <li>Send this to your PS App with another profile logged in</li>
                                </ol>
                                <div class="text-center mt-3">
                                    <img src="{% static 'images/suspension_example.JPG' %}" alt="Suspension Example" class="img-fluid example-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="card bg-dark mb-3">
                            <div class="card-header">Power Curve</div>
                            <div class="card-body">
                                <ol>
                                    <li>Go to Garage > Car Settings</li>
                                    <li>Navigate to the ECU selection and open it</li>
                                    <li>Take a screenshot showing the power/torque values and graph (DO NOT USE OUTPUT ADJUSTMENT OR POWER RESTRICTOR)</li>
                                    <li>Send this to your PS App with another profile logged in</li>
                                </ol>
                                <div class="text-center mt-3">
                                    <img src="{% static 'images/power_example.JPG' %}" alt="Power Curve Example" class="img-fluid example-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="card bg-dark mb-3">
                            <div class="card-header">Transmission Setup</div>
                            <div class="card-body">
                                <ol>
                                    <li>Go to Garage > Car Settings</li>
                                    <li>Navigate to the Transmission Manual Adjustment</li>
                                    <li>Take a screenshot showing the gear values and graph</li>
                                </ol>
                                <div class="text-center mt-3">
                                    <img src="{% static 'images/transmission_example.JPG' %}" alt="Transmission Example" class="img-fluid example-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/upload_screenshot.js' %}"></script>
{% endblock %}